.login-container {
  background-image: url("/src/assets/login.jpeg"); /* Change to your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Adjust text color if needed */
}

.floating-label {
  position: relative;
  margin-bottom: 40px;
}

.floating-label input {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
  background: transparent;
  color: white;
}

.floating-label label {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

/* Move label above when focused OR when there is a value */
.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -20%;
  left: 5%;
  font-size: 14px;
  color: #007bff;
  font-weight: 600;
}

/* Move label back inside only if input is empty (no focus + no value) */
.floating-label input:placeholder-shown + label {
  top: 50%;
  font-size: 16px;
  color: #888;
  font-weight: 400;
}

.small-font {
  font-size: 11px;
}
